@import 'main.css';

body  {
  margin: 0 auto;
  text-align: center;
}
.navbarlist {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align:center;
}

.navbaritems{
	display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-radius: 0px 0 20px 20px;
  background-color: white;
}

li.navbaritems.jazz{
  border-color:  var(--jazz-main);
}

li.navbaritems.food{
  border-color: var(--food-main);
}

.navbaritems a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.navbaritems a:hover {
  background-color: var(--jaz-main);
}
.active {
  background-color: var(--dance-main);
  color: white;
  border-radius: 0px 0 15px 15px;
}
#jazz{
  color: var(--jazz-main);
}
#food{
  color: var(--food-main);
}
span{
  color: green;
}
#all-accessbtn{
  background-color: var(--dance-main);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 30px;
}
.all-access h2{
  text-align: center;
  margin-top: 100px;

}
h3{
  margin-top: 0px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  margin-top: 100px;
  margin-bottom: 0px;
  border-bottom-width: 0px;

}
.box-container{
  width: 850px;
  height: 150px;
  border:1px solid #000;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  border-color: var(--dance-main);
  margin-top: 10px;
  margin-bottom: 35px;
}
.box-container h3{
  position: relative;
  padding-right: 100px;
  margin-bottom: 25px;
  top: 10px;
}
.box-container img{
  float: left;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 20px;
}
.box-container h4{
  
  padding-right: 400px;
  padding-top: 0px;
  margin-top: 10px;

}
.box-container h2{
  float: right;
  padding-top: 35px;
  padding-right: 190px;

}
#addbtn{
  background-color: blue;
  position: absolute;
  width: 116px;
  height: 56px;
  right: -20;
  right: 0px;
  left: 700px;
  top: 40px;
  border-radius: 20px;
}

.filter{
  float: left;
  display: block;
  padding-left: 20px;
  width: 210px;
  height: 427px;
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--dance-main);
  position: fixed;
}

.filter h3{
  width: 69px;
  height: 32px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 700;
  color: #000000;
  text-align: left;
  padding-left: 60px;
}

.filter #Artist{
  width: 87px;
  height: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: 'Arial Regular', 'Arial';
  font-weight: bold;
  color: #000000;
  text-align: left;
  line-height: normal;
}

.filter label{
  float: left;
  background-color: #ffffff;
  display: block;
  padding-right: 80px;
}

.filter #Location{
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: 'Arial Regular', 'Arial';
  font-weight: bold;
  color: #000000;
  text-align: left;
  line-height: normal;
  padding-top: 0px;
  border-top-width: 25px;
  margin-top: 125px;

}

.Sort{
  position: absolute;
  top: 0;
  left: 0;
}

.Sort table{
  padding-left: 200px;
  padding-top: 420px;
  border-color: royalblue;
}

.Sort #product{
  width: 101.988636px;
  border-radius: 20px;
  border-color: var(--dance-main);
}

.Sort td{
  color: blue;
}

.box-container img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}





