@import 'main.css';

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(150, 150, 150, 0.5);
    padding: 4px 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}

nav img {
    float: right;
}

header {
    width: 100vw;
    position: relative;
    z-index: -1;
    margin-bottom: 20vh;
}

h2 {
    margin-top: 10vh;
    width: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-primary);
    font-weight: lighter;
    font-size: 1.75em;
}

#header-image {
    width: 100vw;
}

#header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
}

#header-buttons {
    display: flex;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
    justify-content: space-between;
}

#header-buttons * {
    width: 15vw;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    line-height: 80px;
}

#button-dance {
    background-color: var(--dance-main);
    border-bottom-left-radius: 24px;
}

#button-jazz {
    background-color: var(--jazz-main);
}

#button-food {
    background-color: var(--food-main);
    border-bottom-right-radius: 24px;
}

.shadow {
    box-shadow: 0px 0px 8px var(--shadow);
}

.border-top {
    border-top: 2px solid lightgray;
}

section {
    height: 75vh;
    box-shadow: 0px 16px 16px var(--shadow);
    color: var(--text-primary);
}

section > img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.section-theme-image-right {
    float: right;
}

section h3 {
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

section p {
    text-align: center;
    font-size: 1.5rem;
    width: 75%;
}

.section-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(50%);
}