@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--jazz-main: #e72e2e;
	--dance-main: #007aff;
	--food-main: #14ff00;
    --main-bg: #FFF;
    --secondary-bg: #AAA;
    --main-theme: #F00;
    --secondary-theme: #900;
    --tertiary-theme: #500;
    --text-primary: #111;
    --text-secondary: #666;
    --shadow: rgba(0, 0, 0, 0.25);
    --logo-colour:#c31f39;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}