@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--jazz-main: #F00;
	--dance-main: #00F;
	--food-main: #0F0;
    --main-bg: #FFF;
    --secondary-bg: #AAA;
    --main-theme: #F00;
    --secondary-theme: #900;
    --tertiary-theme: #500;
    --text-primary: #111;
    --text-secondary: #666;
    --shadow: rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
}