:root {
	--jazz-main: #F00;
	--dance-main: #00F;
	--food-main: #0F0;
    --main-bg: #FFF;
    --secondary-bg: #AAA;
    --main-theme: #F00;
    --secondary-theme: #900;
    --tertiary-theme: #500;
    --primary-text: #111;
    --secondary-text: #222;
}